@model OnlineOrdersConnection.Payment
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/MainLayoutAdmin.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Payments</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Edit", "Payments", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <form action="" method="POST" role="form" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Image</label>
                                        <div class="input-group">
                                            <input type="file" class="form-control" id="image" name="Image" value="@Model.Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Id</label>
                                        <input type="text" class="form-control" name="Id" value="@Model.Id" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Name</label>
                                        <input type="text" class="form-control" name="Name" value="@Model.Name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Status</label>
                                        <select name="Status" class="form-control">
                                            @if (Model.Status == 1)
                                            {
                                                <option value="0">Open</option>
                                                <option value="1" selected>Blocked</option>
                                            }
                                            else
                                            {
                                                <option value="0" selected>Open</option>
                                                <option value="1">Blocked</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div>                            
                            <div class="box-footer">
                                <a href="@Url.Action("Index","Payments")" class="btn btn-default">Cancel</a>
                                <button type="submit" class="btn btn-primary pull-right">Update</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</section>



