@{ ViewBag.Title = "Home Page"; }

<section class="homepage-slider" id="home-slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="~/Asset/themes/images/carousel/banner-1.jpg" alt="" />
            </li>
            <li>
                <img src="~/Asset/themes/images/carousel/banner-2.jpg" alt="" />
                <div class="intro">
                    <h1>Mid season sale</h1>
                    <p><span>Up to 50% Off</span></p>
                    <p><span>On selected items online and in stores</span></p>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="header_text">
    Maiores repellendus aspernatur ipsam fuga earum voluptatibus perspiciatis ipsa esse rerum ut quod ea amet alias.
    <br />Explicabo ab voluptate quam molestias cupiditate quo.
</section>
<section class="main-content">
    <div class="row">
        <div class="span12">
            @Html.Partial("_TopHotProducts",OnlineOrder.Models.BUS.OnlineOrdersBUS.TopHotProduct())
            <br />
            @Html.Partial("_TopNewProducts",OnlineOrder.Models.BUS.OnlineOrdersBUS.TopNewProduct())
            <br />
            @Html.Partial("_BlogPartial",OnlineOrder.Models.BUS.BlogBUS.ListProduct())
            <div class="row feature_box">
                <div class="span4">
                    <div class="service">
                        <div class="responsive">
                            <img src="~/Asset/themes/images/feature_img_2.png" alt="" />
                            <h4>MODERN <strong>DESIGN</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="customize">
                            <img src="~/Asset/themes/images/feature_img_1.png" alt="" />
                            <h4>FREE <strong>SHIPPING</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="support">
                            <img src="~/Asset/themes/images/feature_img_3.png" alt="" />
                            <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_client">
    <h4 class="title"><span class="text">Manufactures</span></h4>
    <div class="row">
        <div class="span2">
            <a href="#"><img alt="" src="~/Asset/themes/images/clients/14.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/Asset/themes/images/clients/35.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/Asset/themes/images/clients/1.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/Asset/themes/images/clients/2.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/Asset/themes/images/clients/3.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/Asset/themes/images/clients/4.png"></a>
        </div>
    </div>
</section>
<title>MyImage | Home</title>